.table-container {
  margin: 20px;
  padding: 10px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.user-table th,
.user-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.user-table th {
  background: #f9fafb;
  font-weight: 600;
}

.btn-edit {
  background: rgb(238, 232, 232);
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  margin-right: 6px;
  cursor: pointer;
}

.btn-delete {
  background: #ef4444;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-edit:hover {
  opacity: 0.9;
}
.btn-delete:hover {
  opacity: 0.9;
}
