@import "tailwindcss";




.spinner-borders {
  position: fixed;
  left: 45%;
  top: 42%;
  /* position: relative; */
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-borders::before,
.spinner-borders::after {
  border: 6.7px solid #b9babb;
  border-radius: 50%;
  position: absolute;
  content: "";
  display: block;
}

.spinner-borders::before {
  width: 33.6px;
  height: 33.6px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: spinner-borders-inner 0.8s infinite linear reverse;
}

.spinner-borders::after {
  animation: spinner-borders-outer 0.5s infinite linear;
  height: 56px;
  width: 56px;
  border-right-color: transparent;
  border-top-color: transparent;
}

@keyframes spinner-borders-inner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-borders-outer {
  to {
    transform: rotate(360deg);
  }
}
